@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex items-center justify-center;
  }
}

body {
  font-family:
    'Noto Sans TC', 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

@media (min-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}

.outline * {
  outline: 1px solid #666;
}

/* 不顯示滾動條 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* MUI Date Picker 硬改*/
.MuiPickersDay-root.Mui-selected {
  background-color: #38b2ac !important;
}
.MuiYearCalendar-button.Mui-selected {
  background-color: #38b2ac !important;
}
